@import '../../styles/Variables.less';

.header-menu-button {
  height: 100%;
  padding: 8px 16px;
  background-color: inherit;
  border: none;
  font-size: 16px;
}

.header-menu-button:hover {
  background-color: @blue-lightest;
  color: @accents-and-btn;
}
