@import '../../styles/Variables.less';
@import '../../styles/Extends.less';

table.main-table {
  border: 1px solid @border-grey;
  border-radius: 8px;
  border-spacing: 0;

  thead:extend(.table-header-text) {
    height: @table-row;
    text-align: left;
    width: 100%;
    background-color: @blue-lightest;

    th {
      padding: 0 40px 0 10px;
      border-right: 1px solid @border-grey;
    }

    th.no-vertical-border {
      border-right: none;
    }

    th:last-child {
      border-right: none;
    }
  }

  tbody {
    width: 100%;

    tr {
      min-height: @table-row;
      height: @table-row;

      td {
        min-height: @table-row;
        max-width: 400px;
        padding: 0 10px 0 10px;
        border-top: 1px solid @border-grey;
        border-right: 1px solid @border-grey;
      }

      td.td-row-details {
        padding: 0;
        max-width: 150px;
      }

      td.no-vertical-border {
        border-right: none;
      }

      td:last-child {
        border-right: none;
      }
    }
  }
}

table.inside-table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;

  tr:first-child {
    td {
      border-top: none;
    }
  }
}

.check-icon {
  color: @accents-and-btn;
}

.tr-subheader {
  background-color: @blue-10;
}

.tr-subheader-container {
  display: flex;
  justify-content: space-between;
}
