@import '../../styles/Variables.less';

.form-step-title {
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 16px;
}

.form-main-container {
  display: flex;
  justify-content: space-between;
  gap: 52px;
}

.form-side-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-field-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.required-field::after {
  color: @fail;
  content: '*';
}

.form-drag-drop-title {
  padding-bottom: 4px;
}
